.bg-custom2-old {
  background-color: #fee6b1;
}
.bg-custom2 {
  background-color: #fee6b1;
  background: radial-gradient(#fee6b1, #eabd5e);
}

.rounded {
  border-radius: 100%;
}

.btn-custom1 {
  background-color: #eabd5e;
  color: #374b4d;
}

.btn-custom1:hover {
  background-color: #fee6b1;
}

.bg-custom1 {
  background-color: #374b4d;
  color: #fee6b1;
}

.btn-custom-nav {
  background-color: #222a27;
  color: #fee6b1;
}

.btn-custom-nav:hover {
  background-color: #374b4d;
  color: #fee6b1;
  transform: scale(1.1);
  transition: 0.3s;
}

.bg-hero {
  background: radial-gradient(#374b4d, #222a27);
  height: 100vh;
}

.navbar-nav li {
  font-size: 20px;
}

.navbar-nav li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

footer {
  color: #fee6b1;
}

footer ul {
  padding-left: 0;
}

footer ul li {
  list-style-type: none;
}

.btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

a {
  color: #fee6b1;
}

@media screen and (min-width: 992px) {
  .newsletter {
    display: flex;
    flex-direction: column;
  }

  .newsletter .form-control {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 991px) {
  .newsletter {
    display: flex;
    flex-direction: row;
  }

  .newsletter .form-control {
    flex: 2;
    margin-right: 16px;
  }

  .newsletter .btn {
    flex: 1;
  }

  footer .links {
    text-align: right;
  }
}

@media screen and (max-width: 480px) {
  .cta-buttons {
    display: flex;
    flex-direction: column;
  }

  .newsletter {
    flex-direction: column;
  }

  .newsletter .form-control {
    margin-bottom: 8px;
  }

  footer .links {
    text-align: center;
  }
  footer .contacts {
    text-align: center;
    margin-top: 32px;
  }
}

#services .col {
  margin: 0;
}
